* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#input {
    width: 300px;
}

#addBtn {
    width: 300px;
}

li {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}